.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
    font-size: 12px;
    display: flex;
}

.ul {
    list-style-type : none;
}

.button {
    color: black;
    font-weight: bold;
    margin: 5px;
}

.activeFilter {
   background-color: #9bf1d1;
    color: black;
}

.titleTasks {
    font-size: 20px;
    font-weight: bold;
}

.task {
    padding-top: 10px;
}